@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* * * * * * * * * * *
    * Shadcn Start
    * * * * * * * * * * */
    /* System Colors */
    --background: 0 0% 100%;
    --foreground: 240 10% 5%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --muted: 240 5% 95%;
    --muted-foreground: 240 3.8% 30%;
    --ring: 240 5% 65%;
    --radius: 0.5rem;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 5%;

    /* Shadcn Colors */
    --accent: var(--color-hotpink-50);
    --accent-foreground: var(--color-hotpink-5);

    --primary: var(--color-blue-50);
    --primary-foreground: var(--color-blue-5);

    --secondary: var(--color-neutrals-90);
    --secondary-foreground: var(--color-neutrals-5);

    --tertiary: var(--color-neutrals-50);
    --tertiary-foreground: var(--color-neutrals-5);

    --informative: var(--color-sky-50);
    --informative-foreground: var(--color-sky-5);

    --positive: var(--color-green-50);
    --positive-foreground: var(--color-green-5);

    --cautionary: var(--color-orange-50);
    --cautionary-foreground: var(--color-orange-5);

    --destructive: var(--color-red-50);
    --destructive-foreground: var(--color-red-5);

    --negative: var(--color-red-50);
    --negative-foreground: var(--color-red-5);

    /* System Colors (Direct Assignment) */
    --color-surface-bright: var(--color-neutrals-0);
    --color-surface-dim: var(--color-neutrals-5);
    --color-surface-normal: var(--color-neutrals-1);

    --color-font-primary: var(--color-neutrals-100);
    --color-font-secondary: var(--color-neutrals-50);
    --color-font-tertiary: var(--color-neutrals-20);
    --color-font-placeholder: var(--color-neutrals-10);
    --color-font-hashtag: var(--color-blue-50);

    /* * * * * * * * * * *
    * Shadcn End
    * * * * * * * * * * */

    /* * * * * * * * * * *
    * Root-UI Colors Start
    * * * * * * * * * * */
    /* Background Colors */
    --color-background-normal: 0 0% 100%;    /* #FFFFFF */
    --color-background-alternative: 0 0% 97%; /* #F7F7F7 */

    /* Line Colors */
    --color-line-normal: 0 0% 90%;          /* #E6E6E6 */
    --color-line-accent: 0 0% 84%;          /* #D5D5D5 */
    --color-line-divider: 0 0% 69%;         /* #B0B0B0 */

    /* Inverse Colors */
    --color-inverse-primary: 142 90% 40%;   /* #0AC262 */
    --color-inverse-static: 0 0% 0%;        /* #000000 */

    /* Common Colors */
    --color-white: 0 0% 100%;    /* #FFFFFF */
    --color-black: 0 0% 0%;      /* #000000 */
    /* * * * * * * * * * *
    * Root-UI Colors End
    * * * * * * * * * * */

    /* Font Size Variables */
    --typography-font-size-heading-1: 3rem;
    --typography-font-size-heading-2: 2.5rem;
    --typography-font-size-heading-3: 2.25rem;
    --typography-font-size-heading-4: 2rem;
    --typography-font-size-heading-5: 1.75rem;
    --typography-font-size-heading-6: 1.5rem;
    --typography-font-size-title-3: 1.25rem;
    --typography-font-size-title-2: 1.125rem;
    --typography-font-size-title-1: 1rem;
    --typography-font-size-body-2: 1rem;
    --typography-font-size-body-1: 0.875rem;
    --typography-font-size-label: 0.875rem;
    --typography-font-size-tooltip: 0.875rem;
    --typography-font-size-caption: 0.75rem;

    /* Line Height Variables */
    --typography-line-height-heading-1: 3.625rem;
    --typography-line-height-heading-2: 3rem;
    --typography-line-height-heading-3: 2.875rem;
    --typography-line-height-heading-4: 2.5rem;
    --typography-line-height-heading-5: 2.25rem;
    --typography-line-height-heading-6: 2.125rem;
    --typography-line-height-title-3: 1.875rem;
    --typography-line-height-title-2: 1.75rem;
    --typography-line-height-title-1: 1.625rem;
    --typography-line-height-body-2: 1.625rem;
    --typography-line-height-body-1: 1.5rem;
    --typography-line-height-label: 1.5rem;
    --typography-line-height-tooltip: 1.5rem;
    --typography-line-height-caption: 1.125rem;

    /* Font Weight Variables */
    --typography-font-weight-medium: 500;
    --typography-font-weight-semibold: 600;
    --typography-font-weight-bold: 700;
    --typography-letter-spacing-default: 0em;

    /* * * * * * * * * * *
    * Palette Colors Start
    * * * * * * * * * * */
    /* Neutrals */
    --color-neutrals-0: 0 0% 100%;      /* #FFFFFF */
    --color-neutrals-1: 0 0% 97%;       /* #F7F7F7 */
    --color-neutrals-5: 0 0% 86%;       /* #DCDCDC */
    --color-neutrals-10: 0 0% 77%;      /* #C4C4C4 */
    --color-neutrals-20: 0 0% 69%;      /* #B0B0B0 */
    --color-neutrals-30: 0 0% 61%;      /* #9B9B9B */
    --color-neutrals-40: 0 0% 54%;      /* #8A8A8A */
    --color-neutrals-50: 0 0% 45%;      /* #737373 */
    --color-neutrals-60: 0 0% 36%;      /* #5C5C5C */
    --color-neutrals-70: 0 0% 28%;      /* #474747 */
    --color-neutrals-80: 0 0% 16%;      /* #2A2A2A */
    --color-neutrals-90: 0 0% 9%;       /* #171717 */
    --color-neutrals-95: 0 0% 6%;       /* #0F0F0F */
    --color-neutrals-100: 0 0% 0%;      /* #000000 */

    /* Blue */
    --color-blue-5: 213 98% 95%;        /* #E6F1FE */
    --color-blue-10: 213 97% 90%;       /* #CCE3FD */
    --color-blue-20: 213 95% 79%;       /* #99C7FB */
    --color-blue-30: 213 93% 69%;       /* #66AAF9 */
    --color-blue-40: 213 92% 58%;       /* #338EF7 */
    --color-blue-50: 213 100% 47%;      /* #006FEE */
    --color-blue-60: 213 100% 38%;      /* #005BC4 */
    --color-blue-70: 213 100% 29%;      /* #004493 */
    --color-blue-80: 213 100% 19%;      /* #002E62 */
    --color-blue-90: 213 100% 10%;      /* #001731 */

    /* Green */
    --color-green-5: 156 84% 96%;       /* #ECFDF5 */
    --color-green-10: 156 72% 91%;      /* #D1FAE5 */
    --color-green-20: 156 71% 82%;      /* #A7F3D0 */
    --color-green-30: 156 64% 67%;      /* #6EE7B7 */
    --color-green-40: 156 61% 52%;      /* #34D399 */
    --color-green-50: 156 64% 40%;      /* #10B981 */
    --color-green-60: 156 94% 30%;      /* #059669 */
    --color-green-70: 156 94% 24%;      /* #047857 */
    --color-green-80: 156 89% 20%;      /* #065F46 */
    --color-green-90: 156 86% 9%;       /* #022C22 */

    /* Orange */
    --color-orange-5: 48 100% 96%;      /* #FFFBEB */
    --color-orange-10: 48 96% 89%;      /* #FEF3C7 */
    --color-orange-20: 48 97% 77%;      /* #FDE68A */
    --color-orange-30: 48 96% 65%;      /* #FCD34D */
    --color-orange-40: 48 93% 56%;      /* #FBBF24 */
    --color-orange-50: 48 93% 48%;      /* #F59E0B */
    --color-orange-60: 48 95% 42%;      /* #D97706 */
    --color-orange-70: 48 95% 37%;      /* #B45309 */
    --color-orange-80: 48 89% 31%;      /* #92400E */
    --color-orange-90: 48 80% 27%;      /* #78350F */

    /* Red */
    --color-red-5: 0 86% 97%;           /* #FEF2F2 */
    --color-red-10: 0 86% 94%;          /* #FEE2E2 */
    --color-red-20: 0 87% 89%;          /* #FECACA */
    --color-red-30: 0 87% 82%;          /* #FCA5A5 */
    --color-red-40: 0 74% 71%;          /* #F87171 */
    --color-red-50: 0 84% 60%;          /* #EF4444 */
    --color-red-60: 0 72% 51%;          /* #DC2626 */
    --color-red-70: 0 74% 42%;          /* #B91C1C */
    --color-red-80: 0 70% 35%;          /* #991B1B */
    --color-red-90: 0 70% 31%;          /* #7F1D1D */

    /* Purple */
    --color-purple-5: 270 86% 97%;      /* #F7F2FF */
    --color-purple-10: 270 86% 94%;     /* #EEE2FF */
    --color-purple-20: 270 87% 89%;     /* #DDCAFF */
    --color-purple-30: 270 87% 82%;     /* #CCA5FF */
    --color-purple-40: 270 74% 71%;     /* #B171FF */
    --color-purple-50: 270 84% 60%;     /* #9944FF */
    --color-purple-60: 270 72% 51%;     /* #7726DC */
    --color-purple-70: 270 74% 42%;     /* #5C1CB9 */
    --color-purple-80: 270 70% 35%;     /* #4C1B99 */
    --color-purple-90: 270 70% 31%;     /* #421D7F */

    /* Hot Pink */
    --color-hotpink-5: 330 86% 97%;     /* #FFF2FA */
    --color-hotpink-10: 330 86% 94%;    /* #FFE2F5 */
    --color-hotpink-20: 330 87% 89%;    /* #FFCAEB */
    --color-hotpink-30: 330 87% 82%;    /* #FFA5E0 */
    --color-hotpink-40: 330 74% 71%;    /* #FF71D4 */
    --color-hotpink-50: 330 84% 60%;    /* #FF44C8 */
    --color-hotpink-60: 330 72% 51%;    /* #DC26B0 */
    --color-hotpink-70: 330 74% 42%;    /* #B91C91 */
    --color-hotpink-80: 330 70% 35%;    /* #991B79 */
    --color-hotpink-90: 330 70% 31%;    /* #7F1D65 */

    /* Sky */
    --color-sky-5: 199 95% 96%;         /* #F0F9FF */
    --color-sky-10: 199 95% 89%;        /* #E0F2FE */
    --color-sky-20: 199 95% 77%;        /* #BAE6FD */
    --color-sky-30: 199 95% 64%;        /* #7DD3FC */
    --color-sky-40: 199 95% 52%;        /* #38BDF8 */
    --color-sky-50: 199 95% 43%;        /* #0EA5E9 */
    --color-sky-60: 199 95% 36%;        /* #0284C7 */
    --color-sky-70: 199 95% 29%;        /* #0369A1 */
    --color-sky-80: 199 95% 23%;        /* #075985 */
    --color-sky-90: 199 95% 17%;        /* #0C4A6E */
    /* * * * * * * * * * * *
    * Palette Colors End
    * * * * * * * * * * * */
  }
}

html {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'Pretendard', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
